name: Test
on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Setup Node
        uses: Brightspace/setup-node@main
        with:
            node-version: '14.x'
            registry-url: ${{ secrets.ARTIFACTORY_NPM_REGISTRY }}
            scope: '@d2l'
      - name: Install Node Modules
        run: npm ci
      - name: Run lint
        run: npm run lint
      - name: Run test
        uses: ./
        with:
          test-type: mocha
          token: ${{ secrets.GITHUB_TOKEN }}